html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: "Poppins", sans-serif;
}

/* NAVEGAÇÃO */

.navegação {
    height: 50px;
    border-bottom: solid gray 0.5px;
    animation-name: navegacao;
    animation-duration: 4s;
}

.navegação ul {
    padding-left: 0px;
    list-style: none;
    height: 50px;
    text-align: right;
    margin-top: 0px;
}

.navegação li {
    display: inline-block;
    line-height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 16px;
    color: #1B1717;
    font-weight: 200;
}

.navegação a {
    color: #1B1717;
    text-decoration: none;
}

.navegação a:hover {
    color: #A4243B;
}

.navegação li.icone_menu {
    display: none;
    font-size: 25px;
    color: #A4243B;
}

.navegação li.icone_menu:hover {
    cursor: pointer;
    color: #A4243B;
}


/* PARTE PRINCIPAL */

.conteudo {
    display: flex;
    height: 100vh;
}

.conteudo_imagem {
    width: 40%;
    text-align: right;
    animation-name: imagem_capa;
    animation-duration: 4s;
}

.conteudo_imagem img {
    margin-top: 20px;
    margin-right: 25px;
    width: 18.5rem;
    border-radius: 18.5rem;
}

.conteudo_titulos {
    width: 60%;
    line-height: 20px;
    animation-name: titulos_titulos;
    animation-duration: 3s;
}

.conteudo_titulos h1 {
    font-size: 30px;
    font-weight: 400;
    color: #A4243B;
    margin-top: 90px;
}

.linha_horizontal_topo {
    width: 40%;
    height: 0.4%;
    background-color: #A4243B;
}

.conteudo_titulos h2 {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 300;
    color: black;
    line-height: 10px;
}

.linha_horizontal_baixo {
    width: 9%;
    height: 0.3%;
    background-color: #A4243B;
}

.conteudo_titulos h3 {
    font-size: 16px;
    font-weight: 200;
    color: #857F7F;
}

.conteudo_titulos img {
    display: inline-block;
    width: 20px;
    margin-top: 10px;
}

.conteudo_titulos a {
    text-decoration: none;
}

.conteudo_titulos hr {
    display: none;
}

.conteudo_titulos button {
    display: none;
}

/* PÁGINA DE CONTATO */ 

.main {
    padding: 40px 180px 80px 100px;

    animation-name: main;
    animation-duration: 2s;
}

.main a {
    text-decoration: none;
}

.back-link {
    color: #A4243B;
}

.main h1 {
    color: #A4243B;
    font-weight: 400;
}

.main h2 {
    color: #A4243B;
    font-size: 20px;
    font-weight: 300;
    margin-top: 40px;
}

.main h3 {
    font-size: 16px;
    font-weight: 400;
    color: #475993;
}

.main p {
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: justify;
}
.main hr {
    margin-top: -10px;
}

.img_perfil {
    float: left;
	width: 270px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.social_image {
    width: 40px;
    margin-right: 10px;
}

.caminho ul {
    padding-left: 0;
    list-style: none;
    font-size: 16px;
    font-weight: 300;
    color: #1B1717;
}

.caminho li {
    display: inline-block;
}

.caminho a {
    color: #1B1717;
}

/* PORTFÓLIO */ 

.miniaturas {
    width: 300px;
	height: 300px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 15px;
    background-size: contain;
    overflow: hidden;
}

.miniaturas a {
    text-decoration: none;
}

.blackbox {
    width: 100%;
    height: 100%;
    background-color: #e7e2e2;
    opacity: 0;
    transition: 1s;
    padding-top: 100px;
}

.blackbox:hover {
    opacity: 0.8;
    transition: 1s;
}


.blackbox_texto {
    text-align: center;
    line-height: 10px;
}

.blackbox_texto h1 {
    font-size:  20px;
    font-weight: 400;
    color: #A4243B;
}

.blackbox_texto h3 {
    font-size: 16px;
    color: #475993;
}


/* ANIMAÇÕES */

@keyframes imagem_capa {
    0% {
        opacity: 0;
        transform: translate(0px, 20px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes titulos_titulos {
    0% {
        opacity: 0;
        transform: translate(0px, -20px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@keyframes main {
    0% {opacity: 0; transform: translate(-20px, 0);}
    100% {opacity: 1; transform: translate(0, 0);}
}

@keyframes navegacao {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1
    }
}

/* Responsivo */

@media (max-width: 1000px) {


    .navegação li {
        display: none;
    }
    .navegação li.icone_menu {
        display: inline-block;
    }

    .menuJs {
        position: absolute;
        height: auto;
        width: 150px;
        background-color: #f1f1f1; 
        right: 0;
        border: none;
    }

    .menuJs ul {
        height: auto;
        text-align: center;
        margin-bottom: 0px;
    }
    .menuJs li {
        display: block;
        width: 100%;
        color: #A4243B;
      /*  border-bottom: solid #A4243B 1px; */
        font-size: 14px;
        padding: 0;
        opacity: 1;
    }

    .menuJs a {
      color: #A4243B;
    }

    /* PÁGINA HOME */ 
    .conteudo {
        flex-direction: column;
    }
    .conteudo_imagem {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .linha_horizontal_topo, 
    .linha_horizontal_baixo {
        display: none;
    }

    .conteudo_imagem img {
        max-width: 75%;
        margin-top: 20px;
    }
    .conteudo_titulos {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .conteudo_titulos h1 {
        margin-top: 20px;
        font-size: normal;
    }

    .conteudo_titulos h2 {
        font-size: 16px;
        margin-top: 20px;
    }

    .conteudo_titulos h3 {
        font-size: 14px;
        margin-top: 5px;
    }

    .conteudo_titulos hr {
        display: block;
        border: none;
        color: #A4243B; 
        background-color: #A4243B; 
    }

    .conteudo_titulos button {
        display: block;
    }

    /* PÁGINAS DO MENUBAR */ 

    .main {
        padding: 10px 80px 80px 20px;
    }

    .caminho li{
        font-size: 14px;
    }

    .main h1 {
        font-size: 20px
    }

    .main h3 {
        font-size: 16px;
    }

    .social_image {
        width: 30px;
        margin-right: 5px;
    }
    


}